:root {
  --primary-color: lightblue;
  --secondary-color: rgb(37, 53, 64);
  --button-hover-color:rgb(58, 80, 95);
  font-family: 'IBM Plex Serif', serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("./src/assets/water-anime-style.jpg");
  display: flex;
  flex-direction: column;
}

/* Top */

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 120px 20px 60px;
  background: linear-gradient(var(--primary-color), white);
  gap: 25px;
  color: var(--secondary-color)
}

.game-logo {
  height: 75px;
  width: 75px;
}

.game-title {
  display: flex;
  gap: 15px;
  align-items: center;
}

button {
  height: 40px;
  border-radius: 25px;
  background-color: var(--secondary-color);
  color: white;
  padding: 25px;
  display: flex;
  align-items: center;
  font-family: 'IBM Plex Serif', serif;
}

button:hover {
  background-color: var(--button-hover-color);
  cursor: pointer;
}

.score {
  font-weight: bold;
}

/* Game */

.game-container {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 2rem;
  max-width: 1400px;
  width: 100%;
  padding: 0 50px 0 50px;
  box-sizing: border-box;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 25px 0 25px 0;
}

/* Cards */

.card {
  height: 250px;
  max-width: 185px;
  border-radius: 25px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow transform .3s ease;
  border: 1px solid rgba(0, 0, 255, 0.6);
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 0 15px 5px rgba(0, 0, 255, 0.6);
  transform: scale(1.1);
}

.image-container {
  overflow: hidden;
  padding: 10px 0 5px 0;
  display: flex;
  justify-content: center;
}

.character-image {
  min-height: 200px;
  max-width: 160px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.name-container {
  background-color: var(--primary-color);
  height: 35px;
  border-radius: 0 0 25px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.character-name {
  font-size: .9rem;
  font-weight: bold;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 185px;
  color: var(--secondary-color)
}

.card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  max-width: 185px;
  border-radius: 25px;
  background-color: var(--primary-color);
  border: 1px solid rgba(0, 0, 255, 0.6);
}

.back-img {
  height: 150px;
  max-width: 350px;
}

.card-flip {
  perspective: 1000px;
  height: 250px;
}

.card-inner {
  position: relative;
  max-width: 185px;
  height: 100%;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.card-inner.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back-face {
  position: absolute;
  backface-visibility: hidden;
  border-radius: 25px;
}

.card-front {
  z-index: 2;
}

.card-back-face {
  transform: rotateY(180deg);
}

/* Modal */

.modal {
  position: fixed;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  background-color: var(--primary-color);
  padding: 0 50px 20px 50px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 1;
  pointer-events: none;
  transition: opacity 0.5s ease, transform 0.5s ease;
  border: solid 1px var(--secondary-color);
}

.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%);
}

.modal-header {
  font-size: 2rem;
  font-weight: bold;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--secondary-color);
  font-weight: bold;
}

.modal-img {
  max-width: 500px;
  border-radius: 15px;
}